SB_SERVICE_ALIAS = ""
RESERVATION_ID = ""

CS_SERVER = ""
CS_USERNAME = ""
CS_PASSWORD = ""

CLP_RESOURSE = ""

TFEXEC_VERSION = ""
RESERVATION_DOMAIN = ""

GITHUB_TF_PRIVATE_HELLO_URL = ""

# OPTIONAL

GITHUB_TF_PRIVATE_VAULT_URL = ""
CS_SERVER2 = ""