# The following values are used only for local runs and need to be filled to run the integrations tests
# "_DEC" is a shotring and stands for DECrypted
SB_SERVICE_ALIAS1 = ""
SB_SERVICE_ALIAS2 = ""

AZURE_APPLICATION_KEY_DEC = ""
GH_TOKEN_DEC = ""

AZURE_SUBSCRIPTION_ID = ""
AZURE_TENANT_ID = ""
AZURE_APPLICATION_ID = ""