SB_SERVICE_ALIAS1 = ""
SB_SERVICE_ALIAS2 = ""


AZUREAPP_TF_INPUTS = ""
GITHUB_TF_PRIVATE_AZUREAPP_URL = ""
GITHUB_TOKEN_DEC = ""
CLP_RESOURSE = ""

AZURE_SUBSCRIPTION_ID = ""
AZURE_TENANT_ID = ""
AZURE_APPLICATION_ID = ""
AZURE_APPLICATION_KEY_DEC = ""
