SB_SERVICE_ALIAS1 = ""
SB_SERVICE_ALIAS2 = ""
RESERVATION_ID = ""

CS_SERVER = ""
CS_USERNAME = ""
CS_PASSWORD = ""

CLP_RESOURSE = ""

TFEXEC_VERSION = ""
RESERVATION_DOMAIN = ""

GITHUB_TF_PRIVATE_HELLO_URL = ""
GITHUB_TF_PRIVATE_AZUREAPP_URL = ""
GITHUB_TF_PRIVATE_AZUREMSSQL_URL = ""

AZUREAPP_TF_INPUTS = ""
AZUREMSSQL_TF_INPUTS = ""

REMOTE_STATE_PROVIDER_ACCESS_KEY = ""
REMOTE_STATE_PROVIDER_CLOUD_CRED = ""
REMOTE_STATE_PROVIDER_INVALID_NO_RESOURCE = ""
REMOTE_STATE_PROVIDER_INVALID_WRONG_RESOURCE = ""
# OPTIONAL

GITHUB_TF_PRIVATE_VAULT_URL = ""
CS_SERVER2 = ""