cloudshell-iac-terraform~=1.3
cloudshell-automation-api~=2021.1
cloudshell-shell-core~=5.0
cloudshell-shell-standards~=1.0
cloudshell-cp-core~=2.5
cloudshell-logging~=1.1
cloudshell-shell-connectivity-flow~=3.2
jsonpickle~=1.4
attrs>=21.0,<23
pydantic~=1.0
