SB_SERVICE_ALIAS = ""
RESERVATION_ID = ""

CS_SERVER = ""
CS_USERNAME = ""
CS_PASSWORD = ""

CLP_RESOURSE = ""
SB_AZURE_TF_BACKEND = ""

GITHUB_TOKEN_ENC = ""

TFEXEC_VERSION = ""
RESERVATION_DOMAIN = ""

GITHUB_TF_PRIVATE_HELLO_URL = ""
GITHUB_TF_PRIVATE_AZUREAPP_URL = ""
AZUREAPP_TF_INPUTS = ""

# OPTIONAL

GITHUB_TF_PRIVATE_VAULT_URL = ""
CS_SERVER2 = ""